[submodule "lua"]
	path = lua
	url = https://github.com/lua/lua.git
[submodule "openlibm"]
	path = openlibm
	url = https://github.com/JuliaMath/openlibm
[submodule "crypto-algorithms"]
	path = crypto-algorithms
	url = https://github.com/B-Con/crypto-algorithms.git
